
<div ng-controller="showTODOLists"> 
    <div>
        <div >
            <h3>TODO Key <strong>{{ (todolistkey) }}</strong></h3>
        </div>
        <div ng-repeat="item in groups">
            <table>
                <thead>
                <tr>
                    <th>Step <span class="glyphicon" ></span></th>
                    <th>Action <span class="glyphicon" ></span></th>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat=" todoact in item.todolist">
                    <td>{{  todoact.step  }}</td>
                    <td>{{  todoact.act }}</td>
                    <td ng-click="removeItem(todoact.step)">&times;</td>                    
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <input ng-model="newStep">
    <input ng-model="newDo">
    <button ng-click="addItem(newStep,newDo)">Add</button>

</div>