<div ng-app="newTODOList" ng-controller="newTODOCtrl">
  <!--ul>
    <li ng-repeat="x in steps">{{x}}<span ng-click="removeStep($index)">×</span></li>
  </ul-->
  <table>
                <thead>
                <tr>
                    <th>Step <span class="glyphicon" ></span></th>
                    <th>Action <span class="glyphicon" ></span></th>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in steps">
                    <td>{{ item.step }}</td>
                    <td>{{ item.act }}</td>
                    <td ng-click="removeStep($index)">&times;</td>                    
                </tr>
                </tbody>
            </table>
  <input ng-model="newStep">
   <input ng-model="newDo">
  <button ng-click="addStep()">Add</button>
</div>